body {
    background: rgb(221, 221, 221);
}

.box {
    background: #726e6e;
    width: 900px;
    margin: 40px auto;
    padding: 20px;
    border-radius: 4px;
}

input {
    width: 100%;
    margin: 8px 0;
    border: 1px solid rgb(44, 43, 43);
    border-radius: 3px;
    background-color: whitesmoke;
}

.email{
    width: 900px;
    background: #726e6e;
    margin: 40px auto;
    padding: 20px;
    border-radius: 4px;
}

.head{
    color: rgb(44, 43, 43);
    margin: 60px auto;
    text-align: center;
}

.submit{
    background: slategrey;
    width: 930px;
    margin: 40px auto;
    padding: 7px;
    text-align: center;
    border-radius: 4px;
}

.image{
    display: block;
    border: 3px solid rgb(53, 51, 51);
    border-radius: 9px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
    padding: 7px;
    width: 300px;
}

.price{
    display: block;
    border: 3px solid rgb(31, 30, 30);
    border-radius: 5px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 2000;
    height: 1000;
}